body {
  background-color: black;
  /* background-image: url('/images/bg.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Noto Sans Mono", monospace;
  color: white;
}

.container {
  margin: 25px;
  text-align: center;
}

.time {
  font-size: 50px;
}
